## Dependencies

In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt
from scipy import stats

In [2]:
# Python SQL toolkit and ORM
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.types import Integer, Text, String, DateTime, Float
import psycopg2

In [3]:
# Store tax revenue csv into a dataframe
tax_revenue_file = "./Data/Cannabis_Tax_Revenue_Growth.csv"
tax_revenue_df = pd.read_csv(tax_revenue_file)

# Set index
# tax_revenue_df.set_index("state", inplace=True)
tax_revenue_df

,state,2018_revenue,2018_revenue_share,revenue_2019,2019_revenue_share,rev_growth_18_19,usa_growth_share
0,California,395.4,0.28,629.2,0.33,233.8,0.49
1,Massachusetts,3.3,0.00,89.0,0.05,85.7,0.18
2,Colorado,299.5,0.21,346.2,0.18,46.7,0.10
3,Washington,470.1,0.33,512.5,0.27,42.5,0.09
4,Nevada,134.4,0.09,164.8,0.09,30.4,0.06
5,Oregon,108.8,0.08,133.9,0.07,25.1,0.05
6,Alaska,20.6,0.01,28.4,0.01,7.8,0.02
7,Michigan,0.0,0.00,1.2,0.00,1.2,0.00

In [4]:
# Store drug death csv into a dataframe
drug_death_file = "./Data/Drug_Death_Report_kaggle.csv"
drug_death_df = pd.read_csv(drug_death_file)

# Filtered dataframe
drug_death_cols = ["state", "year", "drug_deaths", "population"]
deaths_transformed = drug_death_df[drug_death_cols].copy()
deaths_transformed

# Set index
# deaths_transformed.set_index("state", inplace=True)
deaths_transformed.head()

     state  year  drug_deaths  population
0  Alabama  1999          195     4430141
1  Alabama  2000          232     4447100
2  Alabama  2001          253     4467634
3  Alabama  2002          248     4480089
4  Alabama  2003          255     4503491

In [5]:
# Store state legal status csv into a dataframe
state_status_file = "./Data/states_statuses_dolthub.csv"
state_status_df = pd.read_csv(state_status_file)

# Filtered dataframe
state_status_cols = ["state", "medical", "recreational", "illegal"]
state_status_transformed = state_status_df[state_status_cols].copy()
# state_status_df = state_status_transformed.set_index("state")
state_status_df.head()

        state medical recreational illegal
0     Alabama      no           no     yes
1      Alaska      no          yes      no
2     Arizona     yes           no      no
3    Arkansas     yes           no      no
4  California      no          yes      no

In [6]:
# Store state recreational use of cannabis csv into a dataframe
st_rec_use_file = "./Data/State_Rec_Use_Of_Cannabis_NIH_1.csv"
st_rec_use_df = pd.read_csv(st_rec_use_file)

# Filtered dataframe
st_rec_use_cols = ["jurisdiction", "date_begin", "date_end",
                   "recreational_use_legalized"]
st_rec_use_transformed = st_rec_use_df[st_rec_use_cols].copy()

# Drop nan and set index
# st_rec_use_transformed = st_rec_use_transformed.dropna()
# st_rec_use_transformed = st_rec_use_transformed.set_index("jurisdiction")

st_rec_use_transformed['date_begin'] = st_rec_use_transformed['date_begin'].fillna('01/01/2011')
st_rec_use_transformed['recreational_use_legalized'] = st_rec_use_transformed['recreational_use_legalized'].fillna('No')
st_rec_use_transformed['date_begin'] = pd.to_datetime(st_rec_use_transformed['date_begin'])
st_rec_use_transformed['date_end'] = pd.to_datetime(st_rec_use_transformed['date_end'])
st_rec_use_transformed

             jurisdiction date_begin   date_end recreational_use_legalized
0                 Alaska  2012-01-01 2015-02-23                         No
1                 Alaska  2015-02-24 2015-05-04                        Yes
2                 Alaska  2015-05-05 2016-02-20                        Yes
3                 Alaska  2016-02-21 2016-05-27                        Yes
4                 Alaska  2016-05-28 2018-12-31                        Yes
5                 Alaska  2019-01-01 2019-01-01                        Yes
6             California  2012-01-01 2016-11-08                         No
7             California  2016-11-09 2017-06-26                        Yes
8             California  2017-06-27 2017-12-06                        Yes
9             California  2017-12-07 2017-12-31                        Yes
10            California  2018-01-01 2019-01-01                        Yes
11              Colorado  2012-01-01 2012-12-09                         No
12              Colorado  2012-12-10 2013-05-27                        Yes
13              Colorado  2013-05-28 2013-10-14                        Yes
14              Colorado  2013-10-15 2014-09-29                        Yes
15              Colorado  2014-09-30 2015-11-29                        Yes
16              Colorado  2015-11-30 2017-06-30                        Yes
17              Colorado  2017-07-01 2019-01-01                        Yes
18  District of Columbia  2012-01-01 2015-02-25                         No
19  District of Columbia  2015-02-26 2019-01-01                        Yes
20                 Maine  2012-01-01 2017-01-29                         No
21                 Maine  2017-01-30 2017-06-28                        Yes
22                 Maine  2017-06-29 2017-08-01                        Yes
23                 Maine  2017-08-02 2018-01-31                        Yes
24                 Maine  2018-02-01 2018-05-01                        Yes
25                 Maine  2018-05-02 2019-01-01                        Yes
26         Massachusetts  2012-01-01 2016-12-14                         No
27         Massachusetts  2016-12-15 2017-07-27                        Yes
28         Massachusetts  2017-07-28 2018-03-22                        Yes
29         Massachusetts  2018-03-23 2019-01-01                        Yes
30              Michigan  2012-01-01 2018-12-05                         No
31              Michigan  2018-12-06 2019-01-01                        Yes
32                Nevada  2012-01-01 2016-12-31                         No
33                Nevada  2017-01-01 2017-06-30                        Yes
34                Nevada  2017-07-01 2019-01-01                        Yes
35                Oregon  2012-01-01 2015-06-30                         No
36                Oregon  2015-07-01 2015-10-04                        Yes
37                Oregon  2015-10-05 2015-12-31                        Yes
38                Oregon  2016-01-01 2016-06-27                        Yes
39                Oregon  2016-06-28 2019-01-01                        Yes
40               Vermont  2012-01-01 2018-06-30                         No
41               Vermont  2018-07-01 2019-01-01                        Yes
42            Washington  2012-01-01 2012-12-05                         No
43            Washington  2012-12-06 2013-11-20                        Yes
44            Washington  2013-11-21 2014-06-11                        Yes
45            Washington  2014-06-12 2015-04-23                        Yes
46            Washington  2015-04-24 2015-06-30                        Yes
47            Washington  2015-07-01 2015-07-23                        Yes
48            Washington  2015-07-24 2019-01-01                        Yes

In [7]:
# Database Connection
connection_string = "postgres:postgres@localhost:5432/etl_project"
engine = create_engine(f'postgresql://{connection_string}')
print(f'postgresql://{connection_string}')

postgresql://postgres:postgres@localhost:5432/etl_project

In [8]:
# Confirm tables
engine.table_names()

['state_status', 'rec_use', 'tax_revenue', 'state_deaths']

In [9]:
tax_revenue_df.to_sql(
                name="tax_revenue",
                con=engine,
                if_exists='replace',
                index=False,
                dtype={"state": String,
                       "2018_revenue": Float,
                       "2018_revenue_share": Float,
                       "revenue_2019": Float,
                       "2019_revenue_share": Float,
                       "rev_growth_18_19": Float,
                       "usa_growth_share": Float
                        }
)

In [10]:
deaths_transformed.to_sql(
                name="state_deaths",
                con=engine,
                if_exists='replace',
                index=False,
                dtype={"state": Text,
                       "year": Integer,
                       "drug_deaths": Integer,
                       "population": Integer,
                }
)

In [11]:
state_status_df.to_sql(
                name="state_status",
                con=engine,
                if_exists='replace',
                index=False,
                dtype={"state": Text,
                       "medical": Text,
                       "recreational": Text,
                       "illegal": Text,
                }
)

In [12]:
st_rec_use_transformed.to_sql(
                name="rec_use",
                con=engine,
                if_exists='replace',
                index=False,
                dtype={"jurisdiction": Text,
                       "date_begin": DateTime,
                       "date_end": DateTime,
                       "recreational_use_legalized": Text, 
                       "tax_imposed": Text
                }
)

In [20]:
grouped_st_rec = st_rec_use_transformed.sort_values(['jurisdiction','date_begin'])
# grouped_st_rec.min().sort_values('date_begin')
# grouped_st_rec = st_rec_use_transformed.sort_values(['jurisdiction', 'date_begin'])
grouped_st_rec.head()

  jurisdiction date_begin   date_end recreational_use_legalized
0      Alaska  2012-01-01 2015-02-23                         No
1      Alaska  2015-02-24 2015-05-04                        Yes
2      Alaska  2015-05-05 2016-02-20                        Yes
3      Alaska  2016-02-21 2016-05-27                        Yes
4      Alaska  2016-05-28 2018-12-31                        Yes

In [27]:
# Plot Results
years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
x_axis = np.arange(len(years))

for year in years:
    date_year = f"{year}-01-01"
    year_df = grouped_st_rec[date_year >= grouped_st_rec['date_begin']]
    print(year)
    print(year_df)

2011
Empty DataFrame
Columns: [jurisdiction, date_begin, date_end, recreational_use_legalized]
Index: []
2012
             jurisdiction date_begin   date_end recreational_use_legalized
0                 Alaska  2012-01-01 2015-02-23                         No
6             California  2012-01-01 2016-11-08                         No
11              Colorado  2012-01-01 2012-12-09                         No
18  District of Columbia  2012-01-01 2015-02-25                         No
20                 Maine  2012-01-01 2017-01-29                         No
26         Massachusetts  2012-01-01 2016-12-14                         No
30              Michigan  2012-01-01 2018-12-05                         No
32                Nevada  2012-01-01 2016-12-31                         No
35                Oregon  2012-01-01 2015-06-30                         No
40               Vermont  2012-01-01 2018-06-30                         No
42            Washington  2012-01-01 2012-12-05                         No
2013
             jurisdiction date_begin   date_end recreational_use_legalized
0                 Alaska  2012-01-01 2015-02-23                         No
6             California  2012-01-01 2016-11-08                         No
11              Colorado  2012-01-01 2012-12-09                         No
12              Colorado  2012-12-10 2013-05-27                        Yes
18  District of Columbia  2012-01-01 2015-02-25                         No
20                 Maine  2012-01-01 2017-01-29                         No
26         Massachusetts  2012-01-01 2016-12-14                         No
30              Michigan  2012-01-01 2018-12-05                         No
32                Nevada  2012-01-01 2016-12-31                         No
35                Oregon  2012-01-01 2015-06-30                         No
40               Vermont  2012-01-01 2018-06-30                         No
42            Washington  2012-01-01 2012-12-05                         No
43            Washington  2012-12-06 2013-11-20                        Yes
2014
             jurisdiction date_begin   date_end recreational_use_legalized
0                 Alaska  2012-01-01 2015-02-23                         No
6             California  2012-01-01 2016-11-08                         No
11              Colorado  2012-01-01 2012-12-09                         No
12              Colorado  2012-12-10 2013-05-27                        Yes
13              Colorado  2013-05-28 2013-10-14                        Yes
14              Colorado  2013-10-15 2014-09-29                        Yes
18  District of Columbia  2012-01-01 2015-02-25                         No
20                 Maine  2012-01-01 2017-01-29                         No
26         Massachusetts  2012-01-01 2016-12-14                         No
30              Michigan  2012-01-01 2018-12-05                         No
32                Nevada  2012-01-01 2016-12-31                         No
35                Oregon  2012-01-01 2015-06-30                         No
40               Vermont  2012-01-01 2018-06-30                         No
42            Washington  2012-01-01 2012-12-05                         No
43            Washington  2012-12-06 2013-11-20                        Yes
44            Washington  2013-11-21 2014-06-11                        Yes
2015
             jurisdiction date_begin   date_end recreational_use_legalized
0                 Alaska  2012-01-01 2015-02-23                         No
6             California  2012-01-01 2016-11-08                         No
11              Colorado  2012-01-01 2012-12-09                         No
12              Colorado  2012-12-10 2013-05-27                        Yes
13              Colorado  2013-05-28 2013-10-14                        Yes
14              Colorado  2013-10-15 2014-09-29                        Yes
15              Colorado  2014-09-30 2015-11-29                        Yes
18  District of Columbia  2012-01-01 2015-02-25                         No
20                 Maine  2012-01-01 2017-01-29                         No
26         Massachusetts  2012-01-01 2016-12-14                         No
30              Michigan  2012-01-01 2018-12-05                         No
32                Nevada  2012-01-01 2016-12-31                         No
35                Oregon  2012-01-01 2015-06-30                         No
40               Vermont  2012-01-01 2018-06-30                         No
42            Washington  2012-01-01 2012-12-05                         No
43            Washington  2012-12-06 2013-11-20                        Yes
44            Washington  2013-11-21 2014-06-11                        Yes
45            Washington  2014-06-12 2015-04-23                        Yes
2016
             jurisdiction date_begin   date_end recreational_use_legalized
0                 Alaska  2012-01-01 2015-02-23                         No
1                 Alaska  2015-02-24 2015-05-04                        Yes
2                 Alaska  2015-05-05 2016-02-20                        Yes
6             California  2012-01-01 2016-11-08                         No
11              Colorado  2012-01-01 2012-12-09                         No
12              Colorado  2012-12-10 2013-05-27                        Yes
13              Colorado  2013-05-28 2013-10-14                        Yes
14              Colorado  2013-10-15 2014-09-29                        Yes
15              Colorado  2014-09-30 2015-11-29                        Yes
16              Colorado  2015-11-30 2017-06-30                        Yes
18  District of Columbia  2012-01-01 2015-02-25                         No
19  District of Columbia  2015-02-26 2019-01-01                        Yes
20                 Maine  2012-01-01 2017-01-29                         No
26         Massachusetts  2012-01-01 2016-12-14                         No
30              Michigan  2012-01-01 2018-12-05                         No
32                Nevada  2012-01-01 2016-12-31                         No
35                Oregon  2012-01-01 2015-06-30                         No
36                Oregon  2015-07-01 2015-10-04                        Yes
37                Oregon  2015-10-05 2015-12-31                        Yes
38                Oregon  2016-01-01 2016-06-27                        Yes
40               Vermont  2012-01-01 2018-06-30                         No
42            Washington  2012-01-01 2012-12-05                         No
43            Washington  2012-12-06 2013-11-20                        Yes
44            Washington  2013-11-21 2014-06-11                        Yes
45            Washington  2014-06-12 2015-04-23                        Yes
46            Washington  2015-04-24 2015-06-30                        Yes
47            Washington  2015-07-01 2015-07-23                        Yes
48            Washington  2015-07-24 2019-01-01                        Yes
2017
             jurisdiction date_begin   date_end recreational_use_legalized
0                 Alaska  2012-01-01 2015-02-23                         No
1                 Alaska  2015-02-24 2015-05-04                        Yes
2                 Alaska  2015-05-05 2016-02-20                        Yes
3                 Alaska  2016-02-21 2016-05-27                        Yes
4                 Alaska  2016-05-28 2018-12-31                        Yes
6             California  2012-01-01 2016-11-08                         No
7             California  2016-11-09 2017-06-26                        Yes
11              Colorado  2012-01-01 2012-12-09                         No
12              Colorado  2012-12-10 2013-05-27                        Yes
13              Colorado  2013-05-28 2013-10-14                        Yes
14              Colorado  2013-10-15 2014-09-29                        Yes
15              Colorado  2014-09-30 2015-11-29                        Yes
16              Colorado  2015-11-30 2017-06-30                        Yes
18  District of Columbia  2012-01-01 2015-02-25                         No
19  District of Columbia  2015-02-26 2019-01-01                        Yes
20                 Maine  2012-01-01 2017-01-29                         No
26         Massachusetts  2012-01-01 2016-12-14                         No
27         Massachusetts  2016-12-15 2017-07-27                        Yes
30              Michigan  2012-01-01 2018-12-05                         No
32                Nevada  2012-01-01 2016-12-31                         No
33                Nevada  2017-01-01 2017-06-30                        Yes
35                Oregon  2012-01-01 2015-06-30                         No
36                Oregon  2015-07-01 2015-10-04                        Yes
37                Oregon  2015-10-05 2015-12-31                        Yes
38                Oregon  2016-01-01 2016-06-27                        Yes
39                Oregon  2016-06-28 2019-01-01                        Yes
40               Vermont  2012-01-01 2018-06-30                         No
42            Washington  2012-01-01 2012-12-05                         No
43            Washington  2012-12-06 2013-11-20                        Yes
44            Washington  2013-11-21 2014-06-11                        Yes
45            Washington  2014-06-12 2015-04-23                        Yes
46            Washington  2015-04-24 2015-06-30                        Yes
47            Washington  2015-07-01 2015-07-23                        Yes
48            Washington  2015-07-24 2019-01-01                        Yes
2018
             jurisdiction date_begin   date_end recreational_use_legalized
0                 Alaska  2012-01-01 2015-02-23                         No
1                 Alaska  2015-02-24 2015-05-04                        Yes
2                 Alaska  2015-05-05 2016-02-20                        Yes
3                 Alaska  2016-02-21 2016-05-27                        Yes
4                 Alaska  2016-05-28 2018-12-31                        Yes
6             California  2012-01-01 2016-11-08                         No
7             California  2016-11-09 2017-06-26                        Yes
8             California  2017-06-27 2017-12-06                        Yes
9             California  2017-12-07 2017-12-31                        Yes
10            California  2018-01-01 2019-01-01                        Yes
11              Colorado  2012-01-01 2012-12-09                         No
12              Colorado  2012-12-10 2013-05-27                        Yes
13              Colorado  2013-05-28 2013-10-14                        Yes
14              Colorado  2013-10-15 2014-09-29                        Yes
15              Colorado  2014-09-30 2015-11-29                        Yes
16              Colorado  2015-11-30 2017-06-30                        Yes
17              Colorado  2017-07-01 2019-01-01                        Yes
18  District of Columbia  2012-01-01 2015-02-25                         No
19  District of Columbia  2015-02-26 2019-01-01                        Yes
20                 Maine  2012-01-01 2017-01-29                         No
21                 Maine  2017-01-30 2017-06-28                        Yes
22                 Maine  2017-06-29 2017-08-01                        Yes
23                 Maine  2017-08-02 2018-01-31                        Yes
26         Massachusetts  2012-01-01 2016-12-14                         No
27         Massachusetts  2016-12-15 2017-07-27                        Yes
28         Massachusetts  2017-07-28 2018-03-22                        Yes
30              Michigan  2012-01-01 2018-12-05                         No
32                Nevada  2012-01-01 2016-12-31                         No
33                Nevada  2017-01-01 2017-06-30                        Yes
34                Nevada  2017-07-01 2019-01-01                        Yes
35                Oregon  2012-01-01 2015-06-30                         No
36                Oregon  2015-07-01 2015-10-04                        Yes
37                Oregon  2015-10-05 2015-12-31                        Yes
38                Oregon  2016-01-01 2016-06-27                        Yes
39                Oregon  2016-06-28 2019-01-01                        Yes
40               Vermont  2012-01-01 2018-06-30                         No
42            Washington  2012-01-01 2012-12-05                         No
43            Washington  2012-12-06 2013-11-20                        Yes
44            Washington  2013-11-21 2014-06-11                        Yes
45            Washington  2014-06-12 2015-04-23                        Yes
46            Washington  2015-04-24 2015-06-30                        Yes
47            Washington  2015-07-01 2015-07-23                        Yes
48            Washington  2015-07-24 2019-01-01                        Yes
2019
             jurisdiction date_begin   date_end recreational_use_legalized
0                 Alaska  2012-01-01 2015-02-23                         No
1                 Alaska  2015-02-24 2015-05-04                        Yes
2                 Alaska  2015-05-05 2016-02-20                        Yes
3                 Alaska  2016-02-21 2016-05-27                        Yes
4                 Alaska  2016-05-28 2018-12-31                        Yes
5                 Alaska  2019-01-01 2019-01-01                        Yes
6             California  2012-01-01 2016-11-08                         No
7             California  2016-11-09 2017-06-26                        Yes
8             California  2017-06-27 2017-12-06                        Yes
9             California  2017-12-07 2017-12-31                        Yes
10            California  2018-01-01 2019-01-01                        Yes
11              Colorado  2012-01-01 2012-12-09                         No
12              Colorado  2012-12-10 2013-05-27                        Yes
13              Colorado  2013-05-28 2013-10-14                        Yes
14              Colorado  2013-10-15 2014-09-29                        Yes
15              Colorado  2014-09-30 2015-11-29                        Yes
16              Colorado  2015-11-30 2017-06-30                        Yes
17              Colorado  2017-07-01 2019-01-01                        Yes
18  District of Columbia  2012-01-01 2015-02-25                         No
19  District of Columbia  2015-02-26 2019-01-01                        Yes
20                 Maine  2012-01-01 2017-01-29                         No
21                 Maine  2017-01-30 2017-06-28                        Yes
22                 Maine  2017-06-29 2017-08-01                        Yes
23                 Maine  2017-08-02 2018-01-31                        Yes
24                 Maine  2018-02-01 2018-05-01                        Yes
25                 Maine  2018-05-02 2019-01-01                        Yes
26         Massachusetts  2012-01-01 2016-12-14                         No
27         Massachusetts  2016-12-15 2017-07-27                        Yes
28         Massachusetts  2017-07-28 2018-03-22                        Yes
29         Massachusetts  2018-03-23 2019-01-01                        Yes
30              Michigan  2012-01-01 2018-12-05                         No
31              Michigan  2018-12-06 2019-01-01                        Yes
32                Nevada  2012-01-01 2016-12-31                         No
33                Nevada  2017-01-01 2017-06-30                        Yes
34                Nevada  2017-07-01 2019-01-01                        Yes
35                Oregon  2012-01-01 2015-06-30                         No
36                Oregon  2015-07-01 2015-10-04                        Yes
37                Oregon  2015-10-05 2015-12-31                        Yes
38                Oregon  2016-01-01 2016-06-27                        Yes
39                Oregon  2016-06-28 2019-01-01                        Yes
40               Vermont  2012-01-01 2018-06-30                         No
41               Vermont  2018-07-01 2019-01-01                        Yes
42            Washington  2012-01-01 2012-12-05                         No
43            Washington  2012-12-06 2013-11-20                        Yes
44            Washington  2013-11-21 2014-06-11                        Yes
45            Washington  2014-06-12 2015-04-23                        Yes
46            Washington  2015-04-24 2015-06-30                        Yes
47            Washington  2015-07-01 2015-07-23                        Yes
48            Washington  2015-07-24 2019-01-01                        Yes